{% extends "base.html" %}

{% block title %}
QUIZZING | Page Not Found
{% endblock %}

{% block body %}

<div class="container text-center mt-5">
    <h1 class="text-dark">404</h1>
    <h2 class="">Oops! Page Not Found</h2>
    <p>Sorry, but the page you were trying to view does not exist.</p>
  </div>
{% endblock %}

{% block navbar%}
<li class="nav-item">
    <a href="/home" class="nav-link">
<!--<i class="nav-icon fas fa-tachometer-alt"></i> -->
      <p>
        Go to home
      </p>
    </a>
  </li>
{% endblock %}
